.home {
    padding: 2rem var(--padding-clamp) 0;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    align-items: center;

    > * {
        width: 100%;
    }

    > a {
        max-width: 20rem;
        padding: 1rem;
    }
}

.home > header {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;

    > h1 {
        font-size: clamp(1.5rem, 4vw, 3rem);
    }

    > p {
        font-size: 1rem;
        text-align: center;

        > a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
